/* Import fonts */


p,
a,
i,
h1,
h2,
strong,
small,
button {
	font-family: 'Poppins', sans-serif;
}

.poppins-font {
	font-family: "Poppins", sans-serif;
}

.dancing-script-font {
	font-family: "Dancing Script", serif;
}

/* Global class */
.container-section {
	@apply mx-auto md:w-full lg:w-6/12;
}

html {
	scroll-behavior: smooth;
}